.chat-container {
    margin-top: 1rem;
    background-color: #333;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 8rem;
    padding-top: 8rem;

}

.message-form {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.send-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chats {
    padding-top: 5rem;
    padding-bottom: 8rem;
}