@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  background-color: #1F1F1F;
  color: white;
  font-family: Roboto;
  height: 100%;
}

.discover-page {
  /* margin-left: 150px; */
  width: 100%;
  background-color: #1F1F1F;
  color: white;
  font-family: Roboto;
  height: 100vh;
  z-index: 1;
  position: absolute;
}

/* header */

.header {
  background-color: #191414;
  height: 150px;
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  position: relative;
  padding-left: 40px;
}

.discover-title {
  margin-left: 50px;
  font-size: 3rem;
  display: flex;
}

.left-section {
  display: flex;
  align-items: center;
  width: 200px;
}

.center-section {
  margin-left: -200px;
}

@media (max-width: 1000px) {
  .center-section {
      margin-left: 30px;
  }

}

@media (max-width: 700px) {
  .header {
    display: block;
    padding-left: 55px;
  }

}

/* body */

.discover-body {
  margin-left: 50px;
  margin-top: 25px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-shrink: 1;  */
}

.discover-subtitle {
  font-size: 32px;
  margin-bottom: 50px;
}


/* card section */

#card-body {
  padding-left: 0;
}

#card-text {
  color: grey;
  font-size: 1rem;
  font-weight: 400;
}

#card-title {
  font-size: 1.2rem;
  font-weight: 400;
}

#user-card {
  background-color: #1F1F1F;
  color: white;
  border: none;

  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: calc(15% - 20px);

  padding-top: 15px;
  padding-left: 20px;
  padding-right: 25px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  #user-card {
    width: calc(20% - 20px);
  }
}

@media (max-width: 1000px) {
  #user-card {
    width: calc(25% - 20px);
    /* When screen size reduces, 2 cards per row */
  }
}

@media (max-width: 800px) {
  #user-card {
    width: calc(33.33% - 20px);
    /* When screen size reduces, 2 cards per row */
  }
}

@media (max-width: 550px) {
  #user-card {
    width: calc(50% - 20px);
    /* When screen size reduces, 2 cards per row */
  }
}

#user-card:hover {
  background-color: #292929;
}

#user-card:active {
  background-color: #3b3b3b;
}

.top-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 10px; */
}

.circle-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.5);
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#user-card:hover .circle-container {
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.75);
    /* Add box shadow */
}