.modal-content{
    text-align: left !important;
}
.posting-modal .btn{
    background-color: #1DB954;
    border:none;
}
.posting-modal .btn-container {
    margin-right:10px;
    margin-bottom:10px;
    margin-top:10px;
}
.post .btn {
    background-color: #1DB954;
    border: none;
}

