.thread{
    background-color: #424242;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 20px 20px 10px 20px;
}
.thread img{
    max-height: 30px;
    max-width: 30px;
}
.thread .buttons{
    display:inline-block;
}

.thread-header .subject{
    font-size: larger;
    font-weight: 600;
    margin:0;
    padding: 0;
}

.thread-header .user{
    font-size: 15px;
    margin:0;
    padding: 0;
}