.header {
    height: max-content;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:left;
    padding: 6px 4% 6px 4%;
    margin-bottom: 2%;
    background-color: rgb(20, 20, 20);
    position: fixed;
    z-index: 999;
}
  
.page-title {
    font-size: 2rem;
    margin: 0 0 0 15%;
    padding-top: 10px;
}
.navbtn-title{
    width: 60%;
    height: max-content;
    display: flex;
}
.stacked .header {
    display: block;
    height: max-content;
  }
.stacked .navbtn-title{
    height: max-content;
}
@media (max-width: 800px) {
    .header {
      display: block;
    }

  }