/* .toggle-btn {
    transition: none !important;
    -webkit-transition: none !important;
    transition: none;
    border: 1px;
}
.toggle-btn :focus {
    box-shadow: none;
    transition: none;
    border: 1px;
}
*/
#nav {
    width: max-content;
}
