/*figure out how to turn off the focus animation*/
.toggle-btn {
    transition: none !important;
    -webkit-transition: none !important;
    transition: none;
    border: 1px;
}
.toggle-btn :focus {
    box-shadow: none;
    transition: none;
    border: 1px;
}

#nav {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 500;
}