.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F1F1F;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
  cursor: pointer;
  transition: border 0.05s;
  transition: background-color 0.05s;
}

.search-container:focus-within {
  border: 2px solid white;
  background-color: #1F1F1F;
  cursor: text;
  /* Override hover background color */
}

.search-box:focus {
  outline: none;
  cursor: text;
}

.search-container:hover,
.search-container:hover .search-box {
  background-color: #292929;
}

.search-container:focus-within:hover {
  border: 2px solid white;
  cursor: text;
}

.search-container:hover {
  border: 0.5px solid rgb(113, 113, 113);
}

.search-box {
  color: white;
  font-size: 18px;
  width: 340px;
  border-radius: 20px;
  border: none;
  background-color: #1F1F1F;
  caret-color: white;
  padding-left: 10px;
  cursor: pointer;
  transition: background-color 0.05s;
  height: 50px;
  border-radius: 50px;
}

.search-box::placeholder {
  font-size: 20px;
  padding-top: 2px;
}

.search-icon {
  height: 35px;
  padding-bottom: 3px;
}

.search-icon-container {
  background-color: transparent;
  border: none;
}

.search-icon-container:active {
  cursor: pointer;
}

.icon-tooltip {
  position: absolute;
  color: white;
  top: 105px;
  margin-left: -15px;
  z-index: 300;

  font-size: 14px;

  background-color: #292929;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);

  padding: 5px 8px 5px 8px;
  border-radius: 3px;

  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;

  display: flex;
  align-items: center;
}

.search-icon-container:hover .icon-tooltip{
  opacity: 1;
}