.songs{
    border-radius: 4px;
    width: auto;
}

.songs img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}
.songs tr{
    --bs-table-bg: #424242;
}
.songs tbody, tableDiv{
    border-radius: 4px;
}
.songs tbody tr:hover td, .songs tbody tr:hover th {
    background-color: transparent ;
  }
.songs td{
    align-content: center;
}

.smaller-screens{
    display: none;
}
@media (max-width: 600px) {
    .smaller-screens {
        display:table;
    }
    .bigger-screens{
        display:none;
    }
  }