.songs{
    border-radius: 4px;
    width: auto;
}

.songs img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}
.songs tr{
    --bs-table-bg: transparent;
}
.songs tbody tr:hover td, .songs tbody tr:hover th {
    background-color: #424242 ;
  }
.songs td{
    align-content: center;
}
.rounded-left{
    border-radius: 4px 0 0 4px;
}
.rounded-right{
    border-radius: 0 4px 4px 0;
}

.smaller-screens{
    display: none;
}
@media (max-width: 600px) {
    .smaller-screens {
        display:table;
    }
    .bigger-screens{
        display:none;
    }
  }