.tabbing{
    border: none !important;
    margin-left:1%;
    margin-right:1%;
}
.tabbing .nav-link{
    color: white;
}
.tabbing .nav-link.active{
    color: white !important;
    background-color: #424242 !important;
    border: none !important;
}
.tabbing .nav-link:hover{
    color: white;
    border-color: #424242 !important;
}
