.tabbing{
    border: none !important;
}
.tabbing .nav-link{
    color: white;
}
.tabbing .tab-content, .tabbing .tabpanel{
    border-radius: 4px;
}
.tabbing .nav-link.active{
    color: white !important;
    background-color: #424242 !important;
    border: none !important;
}
.tabbing .nav-link:hover{
    color: white;
    border-color: #424242 !important;
}
